body {
	background-color: #EBF66E;
}

#channel-list {
	margin-top: 5%;
	margin-left: 35%;
	margin-right: 35%;
	
	background-color: #faffc4;

}

#channel-list li :active {
	background-color: #faffc4;
}

a {
	color: #d3cb45;
	font-size: 20px;
}

.nav-pills li a {
	border-radius: 0px;
}

.nav-pills li.active a
{
	background-color: #f7c64c;
	color: #af891d;
}

.nav-pills li.active a:focus
{
	background-color: #f7c64c;
}

.nav-pills li a:hover 
{
	background-color: #f3fc97;
	color: #bcb53a;
}

.tab-pane 
{
	color: #686311;
}

.nav-stacked li a:focus
{
	background-color: #f7c64c;
	color: #af891d;
}

.nav-stacked li.active a
{
	background-color: #d65e02;
}

.nav-stacked li a:hover 
{
	background-color: #f7c64c;
}

